body{
    background-image: url("https://cdn.discordapp.com/attachments/770434184413446197/893737555135176744/Sin_titulo_2.jpg");
    background-repeat:no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
}

/* Ceneter Images */
.center {
    display: block;
    margin: auto;
}

#div-left{
    margin-top: 3%;
    margin-left: -0%;
    margin-right: 85%;
    padding-bottom: 40%;
    background-color: white;
}

#banner {
    /*margin-top: -6%;*/
    width: 50%;
}

#subfondo {
    width: 50%;
    position: relative;
    filter: opacity(10%);
    z-index: -1;
}

#logo {
    margin-top: -29%;
    border-radius: 50%;
    width:13%;
}

#titulo{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    text-align: center;
}